{% extends 'base.html' %}


{% block title %}
    Pet Shop
{% endblock %}
{% load static %}

{% block content %}

    <div class="main_container min-vh-100">
        <div class="main_block">
            <img class="doggo" src="{% static 'Images/1-unsplash.png' %}">
            <div class="row"><h2 class="sec_header p-2 pl-4 pr-4">Treat them the only way possible.</h2></div>
            <div class="row"><h1 class="main_header p-2 pl-4 pr-4">THE BEST ONE</h1></div>

        </div>


    </div>

{% endblock %}