{% extends 'base.html' %}

{% block title %}
    Register/Log in
{% endblock %}


{% block content %}
    <div class="main_container min-vh-100 hero-section">
        <div class="main_block mt-5">
            <h2 class="pt-5 text-center">Such nice, many welcome,<br>hope you'll enjoy!</h2>
            <h3 class="pt-5 text-center">Be so kind to fill in this little form!</h3>
            <form method='post'>

                {% csrf_token %}

                <div class="d-grid gap-2 mx-auto p-3" style="justify-content: center">
                    <div class="row auto">
                        <div class="col"
                             >
                            <input type="text" class="form-control back-drop text-center" placeholder="Login" aria-label="Login"
                                   name="username"
                            >
                        </div>
                    </div>

                    <div class="row auto">
                        <div class="col">
                            <input type="email"
                                   class="form-control back-drop text-center"
                                   placeholder="E-mail"
                                   aria-label="E-mail"
                                   name="email"
                                   >
                        </div>
                    </div>

                    <div class="row auto">
                        <div class="col col-block"
                             >
                            <input type="password"
                                   class="form-control back-drop text-center"
                                   placeholder="Password"
                                   aria-label="Password"
                                   name="password"
                                   >
                        </div>
                    </div>


                    <div class="row auto">
                        <div class="col col-block">
                            <button type="submit"
                                    class="btn btn-primary shadow-lg"
                                    name="register_submit"
                                    style="width: 20.1rem">
                                Submit
                            </button>
                        </div>
                    </div>
            </form>


        </div>
    </div>




{% endblock %}