{% extends 'base.html' %}

{% block title %}
    Register/Log in
{% endblock %}


{% block content-left %}

        <p class="display-5 mb-1"
           style="
                    color: #101010;
                    text-align: center;
                    font-family: Koh Santepheap,serif;
                    font-size: 2.25rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 95%
                ">
            Already have an account?
        </p>

        <p class="lead mb-2"
           style="
                   color: rgba(122, 122, 122, 0.80);
                   text-align: center;
                   font-family: Kodchasan;
                   font-size: 1.5rem;
                   font-style: normal;
                   font-weight: 400;
                   line-height: 100%
            ">
            Log In!
        </p>

        <form method='post'>

            {% csrf_token %}


            <div class="d-grid gap-2 mx-auto p-3" style="justify-content: center">
                <div class="row auto">
                    <div class="col"
                         style="
                                 color: rgba(122, 122, 122, 0.80);
                                 text-align: center;
                                 font-family: Kodchasan,serif;
                                 font-size: 1.5rem;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 100%
                                 ">
                        <input type="text"
                               class="form-control"
                               placeholder="Username"
                               aria-label="Username"
                               name="username"
                               style="
                                       border-radius: 1.125rem;
                                       border-style: hidden;
                                       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                                       width: 20rem
                                    ">
                    </div>
                </div>

                <div class="row auto">
                    <div class="col col-block"
                         style="
                                 color: rgba(122, 122, 122, 0.80);
                                 text-align: center;
                                 font-family: Kodchasan,serif;
                                 font-size: 1.5rem;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 100%">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               aria-label="Password"
                               name="password"
                               style="
                                       border-radius: 1.125rem;
                                       border-style: hidden;
                                       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                                       width: 20rem
                                        ">
                    </div>
                </div>

                <div class="row auto">
                    <div class="col col-block">
                        <button type="submit"
                                class="btn"
                                name="login_submit"
                                style="
                                        font-family: Kodchasan,serif;
                                        color: rgba(210, 255, 250, 1);
                                        border-radius: 1.125rem;
                                        border-style: hidden;
                                        background: #333646;
                                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                                        width: 20.1rem
                                    ">
                            Submit
                        </button>
                    </div>


            </div>
        </form>

{% endblock %}

{% block content-right %}



        <p class="mb-1"
           style="color: rgba(255, 175, 41, 1);
           text-align: center;
           font-family: Koh Santepheap,serif;
           font-size: 2.25rem;
           font-style: normal;
           font-weight: 400;
           line-height: 95%;">
            First time with us?
        </p>

        <p class="mb-2"
           style="color: rgba(210, 255, 250, 1);
           text-align: center;
           font-family: Kodchasan,serif;
           font-size: 1.5rem;
           font-style: normal;
           font-weight: 400;
           line-height: 100%">
            Create an account!
        </p>
    <form method='post'>

        {% csrf_token %}

            <div class="d-grid gap-2 mx-auto p-3" style="justify-content: center">
                <div class="row auto">
                    <div class="col"
                         style="color: rgba(122, 122, 122, 0.80);
                         text-align: center;
                         font-family: Kodchasan,serif;
                         font-size: 1.5rem;
                         font-style: normal;
                         font-weight: 400;
                         line-height: 100%">
                        <input type="text" class="form-control" placeholder="Login" aria-label="Login"
                               name="username"
                               style="
                               border-radius: 1.125rem;
                               border-style: hidden;
                               box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                               width: 20rem
                               ">
                    </div>
                </div>

                <div class="row auto">
                    <div class="col"
                         style="color: rgba(122, 122, 122, 0.80);
                         text-align: center;
                         font-family: Kodchasan,serif;
                         font-size: 1.5rem;
                         font-style: normal;
                         font-weight: 400;
                         line-height: 100%">
                        <input type="email"
                               class="form-control"
                               placeholder="E-mail"
                               aria-label="E-mail"
                               name="email"
                               style="border-radius: 1.125rem; border-style: hidden; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05); width: 20rem">
                    </div>
                </div>

                <div class="row auto">
                    <div class="col col-block"
                         style="color: rgba(122, 122, 122, 0.80);
                         text-align: center;
                         font-family: Kodchasan,serif;
                         font-size: 1.5rem;
                         font-style: normal;
                         font-weight: 400;
                         line-height: 100%">
                        <input type="password"
                               class="form-control"
                               placeholder="Password"
                               aria-label="Password"
                               name="password"
                               style="border-radius: 1.125rem;
                               border-style: hidden;
                               box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                               width: 20rem">
                    </div>
                </div>


                <div class="row auto">
                    <div class="col col-block">
                        <button type="submit"
                        class="btn btn-primary shadow-lg"
                        name="register_submit"
                        style="
                                font-family: Kodchasan,serif;
                                color: rgba(16, 16, 16, 1);
                                border-radius: 1.125rem;
                                border-style: hidden;
                                background: rgba(255, 175, 41, 1);
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                                width: 20.1rem">
                    Submit
                        </button>
                    </div>
            </div>
        </form>



{% endblock %}