{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}
    {% block blog_title %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="main_container container-fluid h-100 d-flex flex-column">
        <div class="row main_block mb-5 flex-grow-1">

            <div class="col-12 col-lg-9 mt-5">
                {% block blog_content %}
                {% endblock %}
                <div class="row mt-5">
                    {% include 'pagination.html' %}
                </div>
            </div>

{% endblock %}

{% block right_side %}
            <div id='right_side' class="col-12 col-lg-3 mt-5">
                <div class="tag_block back-drop text-center mt-5">
                    <h4 class="mb-4">Tags</h4>
                    {% show_tag_list %}
                </div>
                <div class="tag_block back-drop text-center mt-2">
                    <h4 class="mb-4">Authors</h4>
                    {% show_author_list %}
                </div>
                <div class="text-center mt-2">
                    {% if perms.Post.add_post %}
                        <a href="{% url 'add_post' %}" class="btn btn-primary m-2">Create new post</a>
                        <a href="{% url 'add_tag' %}" class="btn btn-primary m-2">Add new tag</a>
                        <a href="{% url 'editorial' %}" class="btn btn-primary m-2">Edit your posts</a>
                    {% endif %}
                </div>
            </div>
    </div>
    </div>

{% endblock %}



