{% extends 'base.html' %}

{% block content %}
    <div class="main_container mt-5">
        <div class="mt-5">
            <div class="clearfix back-drop blog_post pt-5">
            <div class="row">
                {% if main_ph %}
                <img src='{{ main_ph.url }}' class="col-6 float-md-start blog_main_img" width="100%" alt="...">
                {% endif %}
                <div class="col-6 position-relative">
                <h1 class='blog_body blog-title'>{{ title }}</h1>

                <h3 class="blog_body position-absolute bottom-0 end-0">{{ summary }}</h3>
                </div>
            </div>
                <div class="blog_body blog_content">{{ content|linebreaks }}</div>
            </div>
        </div>
    </div>

{% endblock %}