{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% load static %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{% block content %}
    <div class="main_container min-vh-100 hero-section d-flex align-items-center justify-content-center">
        <img src="{% static 'Images/Login_Cat.png' %}" alt="" class="login-catto">
        <div class="row auto mt-5 text-center">
            {% include 'User/Login_register.html' %}
        </div>
    </div>
{% endblock %}