{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}
{% load static %}

{% block content %}
    <div class="main_container min-vh-100 hero-section d-flex align-items-center justify-content-center">
        <img src="{% static 'Images/Login_Cat.png' %}" alt="" class="login-catto">


            <div class="col-12 mt-3 d-flex align-items-center justify-content-center text-center">

                <form method="post" style="width: 35%">
                <h3 style="margin-bottom: 2rem">We've sent you an email
                    with the instructions for resetting your password</h3>
                </form>
            </div>

    </div>
{% endblock %}