{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% load static %}

{% block content %}
    <div class="main_container min-vh-100 hero-section d-flex align-items-center justify-content-center">
        <img src="{% static 'Images/Login_Cat.png' %}" alt="" class="login-catto">


            <div class="col-12 mt-3 d-flex align-items-center justify-content-center text-center">

                <form method="post" style="width: 35%">
                <h3 style="margin-bottom: 2rem">Create a new password</h3>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for f in form %}
                        <p>{{ f }}</p>
                        <p>{{ f.errors }}</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" style="height: 2.5rem; width: 100%">
                        Change my password
                    </button>
                </form>
            </div>

    </div>
{% endblock %}