{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}



{% block content %}
    <div class="main_container min-vh-100 hero-section d-flex align-items-center justify-content-center">
        <div class="row auto mt-5 text-center">
            <div class="col-lg-3 mt-3 align-items-center justify-content-center">
                <div class="row mt-2 text-center">
                    <h2>{{ user.username }}</h2>
                </div>
                <div class="row mt-2 justify-content-center">
                    <img src="{{ user.profile_photo.url }}" alt="" class="user_photo">
                </div>
                <div class="row mt-2 justify-content-center">
                    <a class="btn btn-primary" href="/password-change" style="height: 2.5rem; width: 75%">Change
                        password</a>
                </div>
                <div class="row mt-2 justify-content-center">
                    <a class="btn btn-primary" href="/logout" style="height: 2.5rem; width: 75%">Log out</a>
                </div>
            </div>
            <div class="col-lg-6 mt-3 align-items-center justify-content-center">
                <div class="row mt-2 text-center">
                    <h3 class="col-12 text-center">
                        You can change your profile info here
                    </h3>
                </div>
                <div class="row mt-2 text-center justify-content-center">
                    <form method="post" enctype="multipart/form-data" style="width: 65%">
                    {{ form.media }}
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for f in form %}
                            <p class="form__title">{{ f.label }} </p>
                            <p>{{ f }}</p>
                            <p>{{ f.errors }}</p>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-4" style="height: 2.5rem; width: 100%">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 mt-3 align-items-center justify-content-center">

            </div>


        </div>
    </div>
{% endblock %}