{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% load static %}

{% block content %}
    <div class="main_container min-vh-100 hero-section d-flex align-items-center justify-content-center">
        <img src="{% static 'Images/Login_Cat.png' %}" alt="" class="login-catto">
        <div class="row auto mt-5 text-center">
            <div class="col-12 mt-3 d-flex align-items-center justify-content-center">
                <h3 class="col-12 text-center">
                    Welcome!<br>Fill out this form to create an account!
                </h3>
            </div>
            <div class="col-12 mt-3 d-flex align-items-center justify-content-center">
                <form method="post" style="width: 35%" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for f in form %}
                        <p>{{ f }}</p>
                        <p>{{ f.errors }}</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" style="height: 2.5rem; width: 100%">
                        Create an account
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}