h2 {
  color: rgba(122, 122, 122, 0.8);
}

.btn {
  --bs-btn-color: #D2FFFA;
  --bs-btn-bg: #333646;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-border-color: #333646;
  --bs-btn-hover-color: #333646;
  --bs-btn-hover-border-color: #333646;
  --bs-btn-active-color: #333646;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: #333646;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-color: rgba(51, 54, 70, 0.65);
  --bs-btn-disabled-border-color: rgba(51, 54, 70, 0.55);
}

.btn-primary {
  --bs-btn-color: #101010;
  --bs-btn-bg: #FFAF29;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-border-color: #FFAF29;
  --bs-btn-hover-color: #FFAF29;
  --bs-btn-hover-border-color: #FFAF29;
  --bs-btn-active-color: #FFAF29;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: #FFAF29;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-color: rgba(255, 175, 41, 0.55);
  --bs-btn-disabled-border-color: rgba(255, 175, 41, 0.65);
}