<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Pet Shop
        {% endblock %}
    </title>

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href={% static 'css/bootstrap_skin.css' %} rel="stylesheet" media="screen">
    <link href={% static 'css/skin_default.css' %} rel="stylesheet" media="screen">

    <script src={% static 'js/bootstrap.min.js' %} defer></script>
    <script src={% static 'js/gsap.min.js' %} defer></script>
    <script src={% static 'js/ScrollTrigger.min.js' %} defer></script>
    <script src={% static 'js/ScrollSmoother.min.js' %} defer></script>
    <script src={% static 'js/app.js' %} defer></script>

</head>
<body>

<nav class="autohide navbar navbar-expand-lg sticky-top justify-content-between back-drop">

    <a class="nav-link active mx-4" href="#">
        <div class="row align-items-center m-2">
            <div class="col"><img src="{% static 'Images/Logo.svg' %}"></div>
            <div class="col" style="margin-left: -1rem; margin-top: 1rem"><p class="fs-5"
                                                                             style="font-family: Judson,serif">
                Pet_Shop</p></div>
        </div>
    </a>
    <div class="d-none d-sm-block w-25 justify-content-center justify-content-center align-content-center mx-4">
        <div class="input-group">
            <input class="shadow-sm form-control main-btn-ps back-drop" type="search" placeholder="Search smth :)"
                   id="example-search-input">
            <button class="shadow-sm btn btn-primary search_btn" type="button" style="align-content: start">
                <img src="{% static 'Images/Search.svg' %}" style="width: 75%">
            </button>
        </div>
    </div>

    <div class="d-flex w-auto align-self-center mx-4" style="top: -1rem">
        <button class="navbar-toggler align-self-start align-content-start" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>☰</span>
        </button>
        <div class="collapse navbar-collapse align-content-center m-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{% if request.user.username %}{{ request.user.username|title|truncatechars:10 }}{% else %}User{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Cart</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
<div class="wrapper_ps">
    <div class="content_ps">

        {% block content %}
            <h2>Some content</h2>
        {% endblock %}

    </div>
</div>
</body>
</html>