{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Pet Shop
        {% endblock %}
    </title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

<style>html { overflow-x: hidden; }
            a { text-decoration: none }
            div { margin: 0rem; padding: 0rem}
</style>


    <link href='http://fonts.googleapis.com/css?family=Kodchasan:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Koh%20Santepheap:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Judson:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="row" style="min-height: 100vh">

    <div class="col-xl-7" style="background: rgba(210, 255, 250, 1); padding: 2rem">
        <div class="row">

            <div class="col sm-1">
                <div style="color: #333646; font-family: Judson; font-size: 1.5rem; font-style: normal; font-weight: 700; line-height: 107.8%;"
                     href="#">PetShop
                </div>
            </div>

            <div class="col sm-1">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 p-1 mb-5 bg-body"
                           style="border-radius: 1.13rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05)"
                           type="search" placeholder="Search smth :)"
                           aria-label="Search">
                </form>
            </div>
        </div>


                {% block content-left %}
                    There's nothing here... yet
                {% endblock %}


        </div>



    <div class="col md-5" style="background-color: rgba(51, 54, 70, 1); padding: 2rem">
        <div class="row justify-content-center align-items-center">

            <div class="col-auto">
                <a href="/" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%">
                    Home
                </a>
            </div>

            <div class="col-auto">
                <a href="#" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%">
                    Shop
                </a>
            </div>

            <div class="col-auto">
                <a href="#" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%">
                    Blog
                </a>
            </div>

            <div class="col-auto">
                <a class="text-capitalize" href="#" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%" aria-current="page">
                    {% if request.user.username %}
                        {{ request.user.username }}
                    {% else %}
                        Username
                    {% endif %}
                </a>
            </div>

            <div class="col-auto">
                <a href="#" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%" aria-current="page">
                    Cart
                </a>
            </div>

        </div>





        {% block content-right %}
            There's nothing here... yet
        {% endblock %}


</div>

</body>
</html>