<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Pet Shop
        {% endblock %}
    </title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

<style>html { overflow-x: hidden; }</style>


    <link href='http://fonts.googleapis.com/css?family=Kodchasan:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Koh%20Santepheap:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Judson:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="d-md-flex bd-highlight" style="min-height: 100vh">

    <div class="text-bg-dark pt-3 px-3 pt-md-4 px-md-4 text-left overflow-hidden flex-fill" style="background: rgba(210, 255, 250, 1)">
        <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <a class="navbar-brand align-self-start" style="color: #333646; font-family: Judson; font-size: 1.5rem; font-style: normal; font-weight: 700; line-height: 107.8%;" href="#">PetShop</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2 p-1 mb-5 bg-body" style="border-radius: 1.13rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05)" type="search" placeholder="  Search smth :)"
                               aria-label="Search">
                    </form>

                </div>
            </nav>

      <div class="min-vw-60 my-3 py-3">
        {% block content-left %}
            There's nothing here... yet
        {% endblock %}
      </div>
    </div>


    <div class="text-bg-dark pt-3 px-3 pt-md-4  text-left flex-fill" style="background-color: rgba(51, 54, 70, 1); position: static">

            <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid justify-content-center">
                        <ul class="navbar-nav mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link mb-1" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%" aria-current="page" href="#">
                                    Home
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link mb-2" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%" aria-current="page" href="#">
                                    Shop
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%" aria-current="page" href="#">
                                    Blog
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%">
                                    Username
                                </a>
                                <ul class="dropdown-menu" ">
                                    <li><a class="dropdown-item" href="#">My account</a></li>

                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Log out</a></li>
                                </ul>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #D2FFFA;
                                                font-family: Kodchasan;
                                                font-size: 1.3rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 107.8%" aria-current="page" href="#">
                                    Cart
                                </a>
                            </li>
                        </ul>

                    </div>
                </nav>

      <div class="my-3 p-3 mx-auto">
        {% block content-right %}
            There's nothing here... yet
        {% endblock %}
      </div>

</body>
</html>