{% extends 'base.html' %}

{% block title %}
    Error 404
{% endblock %}


{% block content %}
    <div class="main_container min-vh-100 hero-section">
            <p class="text-center mt-5" style="
                                    font-family: Koh Santepheap;
                                    font-size: 8rem;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 87%;
                        ">
                404
            </p>

            <h2 class="text-center" style="color: rgba(122, 122, 122, 0.80);
                       font-family: Kodchasan;
                       font-size: 2rem;
                       font-style: normal;
                       font-weight: 400;
                       line-height: 107%;">
                Unfortunately,<br>
                there  is no such page on our site.<br>
                But there are many other<br>
                good pages!<br>
            </h2>

    </div>

{% endblock %}

{% block content-right %}

<div class="h-100">

</div>

{% endblock %}