{% extends 'base.html' %}
{% load static %}

{% block title %}
    Error 403
{% endblock %}


{% block content %}
    <img src="{% static 'Images/Grumpy.webp' %}" alt="" class="grumpy-doggo">
    <div class="main_container min-vh-100 hero-section m-5 text-center">
            <h1 class="h1__error">
                403
            </h1>

            <h3 class="mt-5">
                It seems like you’ve tried to<br>
do something that you don’t<br>
have permission to.<br>
It’s ok, we just won’t let you! :)
            </h3>

    </div>

{% endblock %}

{% block content-right %}

<div class="h-100">

</div>

{% endblock %}