{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="main_container min-vh-100 hero-section">
        <div class="main_block mt-5">
            <h2 class="pt-5">{{ title }} here</h2>
                <form method="post" class="form-switch" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for f in form %}
                        <h4>{{ f.label }}</h4>
                        <p>{{ f }}</p>
                        <p>{{ f.errors }}</p>
                    {% endfor %}
                    {% if image_form %}
                        <h4>Add secondary product photos</h4>
                        {{ image_form.management_form }}
                            {% for f in image_form %}
                                {{ f }}
                            {% endfor %}
                    {% endif %}
                    <button type="submit" class="btn-primary" style="height: 4em; width: 15em">
                        Save draft and continue
                    </button>
                </form>
        </div>
    </div>
{% endblock %}