{% extends 'base.html' %}

{% block content %}
    <div class="main_container min-vh-100 hero-section">
        <div class="main_block mt-5">
            <div class="row h-50">
                <div class="col-md-4 text-center">

                    <div class="container align-items-center mt-5">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade mt-2" data-bs-ride="carousel"
                        style="height: 80%">
                          <div class="carousel-inner">
                                <div class="carousel-item active text-center" data-bs-interval=3000">
                                  <img src="{{ product.product_main_photo.url }}"
                                       class="product__carousel__photo d-block w-100" alt="...">
                                </div>
                              {% for p in product.product_photo.all %}
                                <div class="carousel-item text-center" data-bs-interval="3000">
                                  <img src="{{ p.product_photo.url }}"
                                       class="product__carousel__photo d-block w-100" alt="...">
                                </div>
                              {% endfor %}
                          </div>
                          <button class="carousel-control-prev" type="button"
                                  data-bs-target="#carouselExampleFade"
                                  data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button"
                                  data-bs-target="#carouselExampleFade"
                                  data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                    </div>
                <div class="mt-5">
                {% if user.is_authenticated %}
                {% if product in cart %}
                <button type="button"
                        id="add_to_cart"
                        class="btn w-100 m-2 add_to_cart disabled"
                        style="width: 50%; max-height: 2.4rem">In cart
                </button>
                {% else %}
                <button data-form-url="{% url 'add_to_cart' product.slug %}" class="btn w-100 m-2 add_to_cart">
                    Add to cart
                </button>
                {% endif %}
            {% else %}
                <button data-form-url="{% url 'add_to_cart' product.slug %}" class="btn w-100 m-2 add_to_cart disabled">
                    Add to cart
                </button>
                <p>You have to be <a href="{% url 'User:login' %}">logged in</a> <br>to make an order</p>
            {% endif %}
            </div>
                </div>
            <div class="mt-5 col-md-6">
                <h1>{{ product.product_name }}</h1>
                <h3 class="mt-2"><p>{{ product.product_short_description }}</p></h3>
                {{ product.product_description }}
            </div>
            <div class="mt-5 col-md-2 text-center">

            <div class="mt-4">

                {% if product.related_post.exists %}
                    {{ product.related_post }}

                    <p>Read more about this product!</p>

                    {% for post in product.related_post.iterator %}
                        <div class="blog_post p-2 mb-2">
                        <p>{{ post.title.upper }}</p>
                        <img src="{{ post.main_photo.url }}" alt="" style="width: 90%">
                        <p>{{ post.summary }}</p>
                        <button href="{% url 'read_post' post.slug %}" class="btn m-2">Read post</button>

                        </div>
                    {% endfor %}

                {% endif %}

            </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}